{% extends "general/base.html" %}

{% block content %}

<h1 class="title">
        (Stock page) You currently have {{ balance }}$
    </h1>

    <div class="container has-text-centered">
        <div class="field is-grouped">
            <p class="control">
                <button class="button is-link is-rounded">Buy</button>
            </p>
            <p class="control">
                <button class="button is-danger is-rounded">Sell</button>
            </p>
        </div>
    </div>
{% endblock %}
